{% extends "base.html.j2" %}
{% block wholebody %}
<div class="block-group header">
    <header class="block">
    <nav>
    </nav>
    </header>
</div>

<div class="block-group main">
    <main class="block">
        <article class="h-entry">
            <div class="e-content">
                {{ _content | safe }}
            </div>
            <footer class="article-meta">
                <p class="p-meta">
                    By <span class="p-author">{{ author or _site.author }}</span> on <time class="dt-published">{{ date[:10] }}</time>
                </p>
            </footer>
        </article>
    </main>

    <aside class="block sidebar">
    </aside>
</div>

<div class="block-group page-footer">
    <footer class="block">Copyright ©2015 Vince Veselosky. | <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
<br>
This work is licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>
    </footer>
</div>

{% endblock wholebody %}
