<!doctype html>
<html class="no-js" lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

    {% block docmeta %}
        <title>{{ title }}{% if title and _site.title %} | {% endif %}{{ _site.title }}</title>
        <meta name="description" content="{{ description }}">
    {% endblock docmeta %}
        
    {% block stylesheets %}
        <!-- TODO checksum the filename for semantic.css -->
        <link rel="stylesheet" href="/_/semantic.min.css">
    {% endblock stylesheets %}
        
    {% block headscripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
        <script>window.Modernizr || document.write('<script src="/_/modernizr-2.8.3.min.js"><\/script>')</script>
    {% endblock headscripts %}
    </head>
    <body>
    {% block wholebody %}
            <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
    {% endblock wholebody %}
        
    {% block footscripts %}
        {% if _site.google_analytics_id %}
        <script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='https://www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','{{ _site.google_analytics_id }}','auto');ga('send','pageview');</script>
        {% endif %}
        <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
        <script>window.jQuery || document.write('<script src="/_/jquery-1.12.2.min.js"><\/script>')</script>
        <!-- TODO checksum the filename for semantic.js -->
        <script src="/_/semantic.min.js"></script>
    {% endblock footscripts %}
    </body>
</html>
